<div class="container">
    <mat-card class="mt-5">
      <mat-card-content>
        <h2>การจัดการผู้ดูแลระบบ</h2>
        <button class="btn btn-success"> เพิ่ม </button>
        <table mat-table [dataSource]="paginatedData" class="mat-elevation-z8" *ngIf="AdminList">
          <!-- Index Column -->
          <ng-container matColumnDef="idx">
            <th mat-header-cell *matHeaderCellDef>ลำดับ</th>
            <td mat-cell *matCellDef="let admin">{{ admin.idx }}</td>
          </ng-container>
  
          <!-- Author Name Column -->
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>ชื่อ-สกุล</th>
            <td mat-cell *matCellDef="let admin">{{ admin.fullname }}</td>
          </ng-container>
  
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>อีเมล</th>
            <td mat-cell *matCellDef="let admin">{{ admin.email }}</td>
          </ng-container>
          <ng-container matColumnDef="management">
            <th mat-header-cell *matHeaderCellDef>จัดการ</th>
            <td mat-cell *matCellDef="let admin">
                <button class="btn btn-outline-warning">
                    <span><i class="bi bi-pen"></i> เพิ่ม</span>
                </button>
                <button class="btn btn-outline-danger ms-1">
                    <span><i class="bi bi-trash-fill"></i> ลบ</span>
                </button>
            </td>
          </ng-container>

  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="card" *ngIf="!AdminList">
                <div class="card-body">
                    ไม่มีผู้ดูแลระบบ
                </div>
        </div>
  
        <!-- Pagination controls -->
        <p-paginator *ngIf="totalRecords >= rowsPerPage"
          [rows]="rowsPerPage"
          [totalRecords]="totalRecords"
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  