<div class="container">
  <div class="border-box col-5 mx-auto" style="margin-top: 94px;">
    <p class="text-center h4 text-success">ตั้งรหัสผ่านใหม่</p>
    <form  (ngSubmit)="onSubmit()" >
      <label class="form-label" for="password">รหัสผ่านใหม่</label>
      <div class="input-group">
        <input class="form-control col-1" type="password" id="password" #passwordInput [(ngModel)]="resetPassword"  [ngModelOptions]="{standalone: true}">
        <span class="input-group-text" (click)="togglePasswordVisibility(passwordInput,'password')">
          <i class="bi bi-eye-slash" [ngClass]="{'bi-eye': showPasswordInput}"></i>
        </span>
      </div>
      <label class="form-label" for="confirmPassword">ยืนยันรหัสผ่านใหม่</label>
      <div class="input-group">
        <input class="form-control col-1" type="password" id="confirmPassword" #confirmPasswordInput [(ngModel)]="confirmResetPassword"  [ngModelOptions]="{standalone: true}">
        <span class="input-group-text" (click)="togglePasswordVisibility(confirmPasswordInput, 'confirmPassword')">
          <i class="bi bi-eye-slash" [ngClass]="{'bi-eye': showConfirmPasswordInput}"></i>
        </span>
      </div>
      <button type="submit" class="btn btn-success mt-3 mx-auto">ตกลง</button>
    </form>
  </div>
</div>
