<div class="container my-2">
  <div class="mt-5" style="margin-top: 10px">
    <div class="col-12">
      <div class="mb-2">
        <h1>แดชบอร์ดของผู้ดูแลระบบ</h1>
        <p-breadcrumb
          class="max-w-full text-decoration-none"
          [model]="items"
          [home]="home"
        />
      </div>
    </div>
    <div class="grid mt-lg-4" *ngIf="adminDashboard">
      <!-- Header -->

      <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-2">
          <div class="card shadow rounded text-center">
            <h2 class="h5 text-secondary">นิสิต</h2>
            <p class="display-4 text-success mt-3">
              {{ adminDashboard.student_count }}
            </p>
            <p class="text-muted">คน</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
          <div class="card shadow rounded text-center">
            <h2 class="h5 text-secondary">เอกสารทั้งหมด</h2>
            <p class="display-4 text-warning mt-3">
              {{ adminDashboard.doc_count }}
            </p>
            <p class="text-muted">เอกสาร</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
          <div class="card shadow rounded text-center">
            <h2 class="h5 text-secondary">จำนวนศิษย์เก่า</h2>
            <p class="display-4 text-danger mt-3">
              {{ adminDashboard.alumni_count }}
            </p>
            <p class="text-muted">คน</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
          <div class="card shadow rounded text-center">
            <h2 class="h5 text-secondary">อาจารย์ที่ปรึกษา</h2>
            <p class="display-4 text-purple mt-3">
              {{ adminDashboard.advisor_count }}
            </p>
            <p class="text-muted">คน</p>
          </div>
        </div>
      </div>

      <!-- Quick Actions -->
    </div>
    <div class="col-12 mt-2">
      <div class="card border-0">
        <h2>เมนูทางลัด</h2>
        <div class="flex flex-wrap "> 
          <p-button label="จัดการผู้ดูแลระบบ" icon="pi pi-user" routerLink="/account/admin/admin-management" styleClass="p-button-rounded"></p-button>
          <p-button
            label="จัดการสิทธิ์การใช้งานนิสิต"
            icon="pi pi-users"
            styleClass="p-button-success ms-1"
            routerLink="/account/admin/student"
          ></p-button>
          <p-button
            label="ตรวจสอบเอกสาร"
            icon="pi pi-file"
            styleClass="p-button-warning ms-1"
            routerLink="/account/admin/thesis-upload"
          ></p-button>
          <p-button
            label="จัดการข้อมูลอาจารย์ที่ปรึกษา"
            icon="pi pi-user-edit"
            styleClass="p-button-help ms-1"
            routerLink="/account/admin/advisors-manage"
          ></p-button>
      </div>
      

      <!-- เพิ่ม canvas ที่นี่ -->
    </div>
    <div class="chart-container">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>
