 

  :host ::ng-deep .p-breadcrumb {
    border: none;
    padding: 0;
  }
  
  .card {
    background: var(--surface-card);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
  }

  ::ng-deep .p-breadcrumb a {
    text-decoration: none;
}


.chart-container {
  width: 800px;  /* ขนาดความกว้าง */
  height: 480px; /* ขนาดความสูง */
}

canvas {
  width: 100% !important; /* ทำให้ canvas ขยายตามขนาดของ container */
  height: 100% !important; /* ทำให้ canvas ขยายตามขนาดของ container */
}


.rounded-button {
  border-radius: 12px; /* ปรับค่าให้เหมาะสมกับความโค้งที่ต้องการ */
}