<div class="hero">
  <h1>Advanced Search</h1>
  <p>ค้นหาแบบขั้นสูง</p>
</div>

<div class="container mt-3 d-flex justify-content-center align-items-center">
  <div class="col-5 justify-content-center align-items-center">
    <div class="input-group mb-3">
      <p-autoComplete
        [(ngModel)]="query"
        [suggestions]="filteredQueries"
        (completeMethod)="filterQueries($event)"
        placeholder="ค้นหาคำในเอกสารทั้งหมด"
        [style]="{ width: '100%', minWidth: '300px' }"
        [inputStyle]="{ width: '100%' }"
        class="autocomplete-responsive"
      />
      <button
        class="btn btn-secondary rounded-1 mt-2"
        (click)="onAdvancedSearch()"
      >
        <i class="bi bi-search fs-6" style="color: #46e57d"></i> ค้นหา
      </button>
    </div>

    <!-- Search Results Count -->
    <div class="mt-1" *ngIf="thesisLength !== 0 && !isLoading">
      <p class="text-black-50 fs-6">
        ผลการค้นหาทั้งหมด {{ thesisLength }} รายการสำหรับ
        <span *ngFor="let item of querys; let last = last">
          <span [innerHTML]="highlight(item)"></span>
          <span *ngIf="!last">, </span>
        </span>
      </p>
    </div>

    <!-- Search Results Display -->
    <div class="mt-2">
      <!-- Skeleton Loader -->
      <!-- Skeleton Loader -->
      <div class="skeleton-container mt-2" *ngIf="isLoading">
        <div *ngFor="let _ of [].constructor(2)" class="flex border p-4 mt-2">
          <p-skeleton styleClass="mb-2"></p-skeleton>
          <p-skeleton styleClass="mb-2"></p-skeleton>
          <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
      <div *ngIf="!isLoading && thesisLength === 0">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img
            src="./../../../assets/image/document_vector.svg"
            class="img-fluid gray-img"
            alt="Document Vector"
            width="50%"


          />
          <h2 class="text-secondary">ไม่พบเอกสารที่ค้นหา</h2>
        </div>
      </div>

      <!-- Search Results Display -->
      <div *ngIf="!isLoading">
        <div
          *ngFor="
            let item of thesisList
              | paginate : { itemsPerPage: 5, currentPage: page }
          "
        >
          <div class="container border p-4 mt-1 bg">
            <a
              (click)="openLinkInNewTab('/decription/thesis/' + item.doc_id)"
              target="_blank"
              style="cursor: pointer"
            >
              <p class="fw-bold">{{ item.title_th }}</p>
            </a>
            <p>เจ้าของ : {{ item.author_name }}</p>
            <p>{{ item.year }}</p>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div
          class="d-flex justify-content-center mt-3"
          *ngIf="thesisLength !== 0"
        >
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
