<div class="container">
  <mat-card class="mt-5">
    <mat-card-content>
      <button pButton type="button" class="btn btn-success" (click)="openAddAdvisorDialog()">
        <i class="bi bi-person-add"></i> เพิ่ม
      </button>
      <!-- Your existing table code -->
      <table mat-table [dataSource]="paginateAdvisor">
        <!-- Advisor ID Column -->
        <ng-container matColumnDef="advisor_id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let index = index; let advisor">
            {{ (page - 1) * rowsPerPage + index + 1 }} <!-- Displaying 1-based index -->
          </td>
        </ng-container>

        <!-- Advisor Name Column -->
        <ng-container matColumnDef="advisor_name">
          <th mat-header-cell *matHeaderCellDef>ชื่ออาจารย์ที่ปรึกษา </th>
          <td mat-cell *matCellDef="let advisor">
            <p>{{ advisor.advisor_name }}</p>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> จัดการ </th>
          <td mat-cell *matCellDef="let advisor">
            <button mat-button (click)="OpenEditAdvisorDialog(advisor.advisor_id)">
              <i class="bi bi-pen"></i> แก้ไข
            </button>
            <button mat-button (click)="deleteAdvisor(advisor)">
              <i class="bi bi-trash"></i> ลบ
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Pagination controls -->
       <!-- Pagination controls -->
       <p-paginator
       [rows]="rowsPerPage"
       [totalRecords]="totalRecords"
       (onPageChange)="onPageChange($event)"
       
     ></p-paginator>
    </mat-card-content>
  </mat-card>
</div>
