<div class="container" style="margin-top: 150px;">
    <div class="border-box col-md-4 mx-auto">
            <div class="d-flex flex-column">
                <div class="text-center">
                    <h2 class="text-success" >Send Verification Token</h2>

                </div>
                <div class="grid-item">
                     <input class="form-control" type="text" id="reset-token" placeholder="ใส่รหัสยืนยัน">
                </div>
               
                <div class="grid-item mx-auto" style="margin-top: 5px;">
                    <div class="d-flex flex-row ">
                        <p class=""> ถ้ายังไม่ได้รับรหัสยืนยัน</p> <a style="cursor: pointer;color: rgb(15, 199, 82);">&nbsp; รีเฟรช</a>
                    </div>
                </div>

                <button class="btn btn-success d-block mx-auto mt-2" routerLink="/reset-password">Send</button>
            </div>
    </div>
</div>
