.mat-menu-panel {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
  

.user-card {
    background-color: rgb(235, 235, 235);
    border: none;
    box-shadow: none;
    padding: 0.5em; /* คุณสามารถปรับการจัดเรียงได้ตามที่ต้องการ */
}
  