<div class="hero">
    <h1>Simple Search</h1>
    <p>ค้นหาอย่างง่าย</p>
    <!-- <a routerLink="/account/student/import-thesis">นำเข้า</a> -->
  </div>
  
<div class="container mt-3 d-flex justify-content-center">
    <div class="col-7 ">
        <div class="input-group mb-3 ">
            <input type="text" class="form-control" [(ngModel)]="query" placeholder="ระบุคำค้นหา" />
            <select class="ms-2 form-select  " id="selectOption" [(ngModel)]="field"   >
                <option value="" disabled>ค้นหาจาก</option>
                <option value="title_th">หัวข้อปริญญานิพนธ์ (ภาษาไทย)</option>
                <option value="author_name">ชื่อผู้เขียน</option>
                <option value="advisor_name">อาจารย์ที่ปรึกษา</option>
                <option value="year">ปีการศึกษา</option>
            </select>

        
        </div>
        <button class="btn btn-secondary" (click)="onSimpleSearch()"><i class="bi bi-search fs-6" style="color: #46E57D;"></i> ค้นหา</button>
        <div class="mt-1" *ngIf="thesisLength!=0">
            <p class="text-black-50 fs-6"  >ผลการค้นหา {{thesisLength}} รายการ</p>
        </div>
        <div class="mt-2">
            <div *ngFor="let item of thesisList | paginate: { itemsPerPage: 5, currentPage: page }">
              <div class="container border p-4 mt-1 bg">
                <a (click)="openLinkInNewTab('/decription/thesis/' + item.doc_id)" target="_blank" style="cursor: pointer;">
                  <p class="fw-bold">{{item.title_th}}</p>
                </a>
                <p>เจ้าของผลงาน : {{item.author_name}}</p>
                <p>{{item.year}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-3" *ngIf="thesisLength!=0">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>        
        </div>
          
          
    </div>
    
</div>
         