<div class="container">
  <mat-card class="mt-5">
    <mat-card-content>
      <h2>สิทธิการใช้งาน</h2>
      <table mat-table [dataSource]="paginatedData" class="mat-elevation-z8">
        <!-- Index Column -->
        <ng-container matColumnDef="idx">
          <th mat-header-cell *matHeaderCellDef>ลำดับ</th>
          <td mat-cell *matCellDef="let student">{{ student.idx }}</td>
        </ng-container>

        <!-- Author Name Column -->
        <ng-container matColumnDef="author_name">
          <th mat-header-cell *matHeaderCellDef>ชื่อ-สกุล</th>
          <td mat-cell *matCellDef="let student">{{ student.author_name }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>อีเมล</th>
          <td mat-cell *matCellDef="let student">{{ student.email }}</td>
        </ng-container>

        <!-- Access Role Column -->
        <ng-container matColumnDef="access_role">
          <th mat-header-cell *matHeaderCellDef>จัดการสิทธิการใช้งาน</th>
          <td mat-cell *matCellDef="let student">
            <ng-container *ngIf="!isEditing[student.user_id]; else editMode">
              <p-tag
                [severity]="getSeverity(student.access_role)"
                [value]="check(student.access_role)"
                (click)="canEditStatus(student.access_role) && toggleEdit(student.user_id)"
              ></p-tag>
            </ng-container>

            <ng-template #editMode>
              <p-dropdown
                [options]="roleOption"
                [(ngModel)]="student.access_role"
                (onChange)="ConfirmRecheck(student.user_id,student.access_role)"
                appendTo="body"
              ></p-dropdown>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Pagination controls -->
      <p-paginator
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </mat-card-content>
  </mat-card>
</div>
