.border-register{
    padding: 20px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 4px;
     //เพิ่มเติม
}

.form-control {
    margin-bottom: 15px;
}

 

.btn-success{
    border: none;
    width: 100%;
    background-color: #31BB60 !important;
}

.btn-success:hover{
    background-color: #27a04f !important;

}